In [2]:
import pandas as pd

25 gorgeous swimming holes and pools within driving distance of San Antonio

In [3]:
df = pd.read_csv('swimming_holes_near_sa  - Sheet1.csv')

In [4]:
df

,water_spot,size_in_acres,location,distance_from_me,free,cost
0,San Pedro Springs,46.0,"San Antonio, TX",NaN,NaN,NaN
1,Garner State Park,NaN,"Concan, TX",NaN,NaN,NaN
2,Lake Amistad Recreation Area,NaN,"Del Rio, TX",NaN,NaN,NaN
3,Comal River,NaN,"New Braunfels, TX",NaN,NaN,NaN
4,Canyon Lake,NaN,"Canyon Lake, TX",NaN,NaN,NaN
5,Krause Springs,NaN,"Spicewood, TX",NaN,NaN,NaN
6,Blanco State Park,NaN,"Blanco, TX",NaN,NaN,NaN
7,Rio Vista Park,NaN,"San Marcos, TX",NaN,Yes,0.0
8,Medina Lake,NaN,NaN,NaN,NaN,NaN
9,Landa Park Aquatic Complex,NaN,NaN,NaN,NaN,NaN
10,Deep Eddy,NaN,"Austin, TX",NaN,NaN,NaN
11,San Marcos River,NaN,"San Marcos, TX",NaN,NaN,NaN
12,Woodlawn Pool,NaN,"San Antonio, TX",NaN,NaN,NaN
13,Blue Hole,NaN,"Wimberly, TX",NaN,NaN,NaN
14,Guadalupe State Park,NaN,"Spring Branch, TX",NaN,NaN,NaN
15,Paradise Canyon,NaN,NaN,NaN,NaN,NaN
16,Riding River Ranch,NaN,NaN,NaN,NaN,NaN
17,Barton Springs,NaN,"Austin, TX",NaN,NaN,NaN
18,Chalk Bluff River Resort,NaN,NaN,NaN,NaN,NaN
19,Jacob's Well,NaN,"Wimberley, TX",NaN,NaN,NaN
20,Devil's Waterhole,NaN,NaN,NaN,NaN,NaN
21,Schumacher Crossing,NaN,NaN,NaN,NaN,NaN
22,The Slab Llano River,NaN,Kingsland,NaN,NaN,NaN
23,Utopia City Park,NaN,"Utopia, TX",NaN,NaN,NaN
24,San Felipe Springs,NaN,"Del Rio, TX",NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   water_spot        25 non-null     object
 1   size_in_acres     1 non-null      float64
 2   location          18 non-null     object
 3   distance_from_me  0 non-null      float64
 4   free              1 non-null      object
 5   cost              1 non-null      float64
dtypes: float64(3), object(3)
memory usage: 1.3+ KB